<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List 😊</h1>
    <p>This is a simple Todo List App, to get started please click on the plus button to add new tasks! <br> Click the check box to mark task as completed!</p>
    <button id="bottomCornerButton" type="button" onclick="togglePopup()">+</button>
    <!-- Popup container -->
    <div id="popupBackground"></div>
    <div id="popupContainer">
        <form action="/submit-form" method="post" autocomplete="off">
            <h3>Add new task!</h3>  
            <input type="text" placeholder="Add a Task" name="title" required>
            <br>
            <button class="btn2" type="submit">Add</button>
            <button id="closeButton" type="button" onclick="togglePopup()">x</button>
        </form>
    </div>
    <% if (typeof todos !== 'undefined') { %>
    <div class="list-cont">
        <ul>
          <% todos.forEach(todo => { %>
            <li id="mylink_<%= todo._id %>"><input type="checkbox" id="myCheckbox_<%= todo._id %>" name="myCheckbox" onchange="StrikeThrough('<%= todo._id %>')">
                <%= todo.title %><button class="delete-button" onclick="deleteTodo('<%= todo._id %>'); window.location.href = '/index'; ">Delete</button>
            </li>
          <% }); %>
        </ul>
        </div>
      <% } %>
    <script>

        function togglePopup() {
            var popupContainer = document.getElementById("popupContainer");
            var popupBackground = document.getElementById("popupBackground");
    
            // Toggle the visibility of the popup
            popupContainer.style.display = popupContainer.style.display === "block" ? "none" : "block";
            popupBackground.style.display = popupBackground.style.display === "block" ? "none" : "block";
        }
        function StrikeThrough(todoId) {
            const checkbox = document.getElementById(`myCheckbox_${todoId}`);
            const lnk = document.getElementById(`mylink_${todoId}`);

            if (checkbox.checked) {
                lnk.style.textDecoration = 'line-through';

            } else {
                lnk.style.textDecoration = 'none';
            }
        }
            //deleteTodo function
        function deleteTodo(todoId) {
        fetch('/deleteTodo', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify({ todoId }),
        })
        .then(response => {
            if (!response.ok) {
            throw new Error(`Server returned ${response.status} ${response.statusText}`);
            }
            return response.json();
        })
        .then(data => {
            // Check the success flag in the response
            if (data.success) {
            console.log("Todo item deleted successfully");

            // Refresh the current page using JavaScript
            window.location.reload();
            } else {
            console.log(data.message); // Log the error message
            // Handle the error scenario as needed
            }
        })
        .catch(error => {
            console.error('Error during fetch operation:', error);
        });
        }


    </script>
    
</body>
</html>
